@page 
@model Migration_EF.Areas.Admin.Pages.User.EditUserRoleClaimModel;
@{
    ViewData["Title"] = "EditClaimOfUser";
}

<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage" model="@Model.StatusMessage" />
@Html.ValidationSummary(true)

<hr />  
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group mb-4">
                <label asp-for="inputModel.ClaimType" class="control-label"></label>
                <input asp-for="inputModel.ClaimType" class="form-control" />
                <span asp-validation-for="inputModel.ClaimType" class="text-danger"></span>
            </div>

            <div class="form-group mb-4">
                <label asp-for="inputModel.ClaimValue" class="control-label"></label>
                <input asp-for="inputModel.ClaimValue" class="form-control" />
                <span asp-validation-for="inputModel.ClaimValue" class="text-danger"></span>
            </div>

            <div class="form-group d-flex flex-row">
                @if(Model.StateDelete)
                {
                    <input type="submit" value="Confirm Delete" class="btn btn-danger" />
                    <a asp-page="./AddRole" asp-route-id="@Model.user.Id" class="mx-4 btn btn-dark">Cancel</a>
                } else
                {
                    @if (Model.userClaim != null)
                    {
                        <input type="submit" value="Update Claim Of User" class="btn btn-success" />
                    }
                    else
                    {
                        <input type="submit" value="Add New Claim Of User" class="btn btn-success" />
                        <a asp-page="./AddRole" asp-route-userid="@Model.user.Id" class="btn btn-dark mx-3">Back List Role</a>
                    }
                }
            </div>
        </form> 
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}